/* work-sans-300 - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  src: url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-300.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-300.eot?#iefix") format("embedded-opentype"), url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-300.woff2") format("woff2"), url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-300.woff") format("woff"), url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-300.ttf") format("truetype"), url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-300.svg#WorkSans") format("svg");
  /* Legacy iOS */
}

/* work-sans-regular - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-regular.eot?#iefix") format("embedded-opentype"), url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-regular.woff2") format("woff2"), url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-regular.woff") format("woff"), url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-regular.ttf") format("truetype"), url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-regular.svg#WorkSans") format("svg");
  /* Legacy iOS */
}

/* work-sans-600 - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  src: url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-600.eot?#iefix") format("embedded-opentype"), url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-600.woff2") format("woff2"), url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-600.woff") format("woff"), url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-600.ttf") format("truetype"), url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-600.svg#WorkSans") format("svg");
  /* Legacy iOS */
}

/* work-sans-italic - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 400;
  src: url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-italic.eot?#iefix") format("embedded-opentype"), url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-italic.woff2") format("woff2"), url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-italic.woff") format("woff"), url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-italic.ttf") format("truetype"), url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-italic.svg#WorkSans") format("svg");
  /* Legacy iOS */
}

/* hind-700 - latin */
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/hind-v11-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/hind-v11-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/hind-v11-latin-700.woff2") format("woff2"), url("../fonts/hind-v11-latin-700.woff") format("woff"), url("../fonts/hind-v11-latin-700.ttf") format("truetype"), url("../fonts/hind-v11-latin-700.svg#Hind") format("svg");
  /* Legacy iOS */
}

.vh {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  text-indent: 1px;
  margin: 0;
  padding: 0;
}

.fit-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.font-display {
  font-family: Hind;
  font-weight: 700;
}

.font-lighter {
  font-weight: 300;
}

.df {
  display: flex;
}

.fjc-sb {
  justify-content: space-between;
}

.fai-top {
  align-items: top;
}

.fi-a {
  flex: 1 1 auto;
}

.fd-col {
  flex-direction: column;
}

.fo-1 {
  order: 1;
}

.fo-2 {
  order: 2;
}

.fo-3 {
  order: 3;
}

@media screen and (min-width: 576px) {
  .df-m {
    display: flex;
  }
  .fi-2-m {
    flex: 1 0 45%;
  }
  .fo-1-m {
    order: 1;
  }
  .fo-2-m {
    order: 2;
  }
  .fo-3-m {
    order: 3;
  }
}

.p0 {
  padding: 0;
}

.ph2 {
  padding: 1rem;
}

.ph3 {
  padding: 2rem;
}

.pr4 {
  padding-right: 3rem;
}

.pv4 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.m0 {
  padding: 0;
}

.ml1 {
  margin-left: 0.5rem;
}

.mh3 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mh-3 {
  margin-left: -2rem;
  margin-right: -2rem;
}

@media screen and (min-width: 576px) {
  .pt0-m {
    padding-top: 0;
  }
  .ph3-m {
    padding: 2rem;
  }
}

.w100 {
  width: 100%;
}

.w-auto {
  width: auto;
}

.h100 {
  height: 100%;
}

.h-auto {
  height: auto;
}

ls-none {
  list-style: none;
}

.db {
  display: block;
}

.dn {
  display: none;
}

.pos-a {
  position: absolute;
}

.pos-r {
  position: relative;
}

@media screen and (min-width: 576px) {
  .pos-a-m {
    position: absolute;
  }
  .pos-r-m {
    position: relative;
  }
}

.ov-h {
  overflow: hidden;
}

.dcn-veil {
  height: 100%;
  background-color: rgba(0, 107, 163, 0.7);
}

.normal-content-width {
  max-width: 1200px;
  padding: 0 0.5rem;
  margin-left: auto;
  margin-right: auto;
}

.shouting {
  font-weight: 300;
  font-size: 1.8rem;
}

a.button {
  border: none;
  padding: 0.5rem 2rem;
  background-color: #ea4f3a;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
}

a.button:link, a.button:visited {
  color: white;
}

a.button:hover {
  background-color: #da2e17;
  text-decoration: none;
}

.field-collection-view {
  padding: 0;
  margin: 0;
  border-bottom: medium none;
}

#admin-menu {
  display: none;
}

@media screen and (min-width: 576px) {
  #admin-menu {
    display: block;
  }
}

@media screen and (max-width: 575px) {
  html body.admin-menu {
    margin-top: 0 !important;
  }
}

#page {
  border-top: 0.5rem solid #006ba3;
}

#main {
  min-height: 70vh;
}

a:link {
  color: #ea4f3a;
}

a:visited {
  color: #ea4f3a;
}

a:hover {
  color: #006ba3;
}

a:active {
  color: #006ba3;
}

i.dcn-icon {
  background: url("/sites/default/themes/barrio_dcn/images/sprite.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: inline-block;
}

i.dcn-icon.author {
  background-position: 0 0;
}

i.dcn-icon.when {
  background-position: -24px 0;
}

i.dcn-icon.exclamation {
  background-position: -48px 0;
}

.dcn-icon-message {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: white;
}

.dcn-icon-message .dcn-icon-message__icon {
  grid-column: 1;
  padding: 1rem;
}

.dcn-icon-message .dcn-icon-message__text {
  grid-column: 2;
  padding: 1rem;
}

#site-header {
  position: relative;
  padding: 1rem 0.5rem;
  background: white;
}

#header-logo {
  width: 10rem;
  width: clamp(10rem, 20vw, 15rem);
  height: auto;
}

.crm-container.crm-public .messages.status,
div.messages {
  max-width: clamp(30ch, 70%, 64ch);
  border-radius: 4px;
  margin: 1rem auto;
  background: white;
  border: solid 1px #006ba3;
  color: #00477a;
  padding: 1rem 2rem;
}

#header__menu-toggle {
  position: absolute;
  z-index: 1;
  top: 0.5rem;
  right: 0.5rem;
  border-radius: 2rem;
  padding: 0.25em 0.75em;
  font-size: 0.875rem;
  text-transform: uppercase;
  border: solid 1px #f0f0f0;
  cursor: pointer;
  background-color: white;
}

#block-menu-menu-main-menu-2021 h2 {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  text-indent: 1px;
  margin: 0;
  padding: 0;
}

#block-menu-menu-main-menu-2021 a:link, #block-menu-menu-main-menu-2021 a:visited {
  text-decoration: none;
  color: #006ba3;
}

#block-menu-menu-main-menu-2021 a:hover, #block-menu-menu-main-menu-2021 a:active {
  background-color: rgba(0, 107, 163, 0.1);
  color: #00477a;
}

body.is-mobile.menu--show {
  position: fixed;
  overflow: hidden;
}

body.is-mobile.menu--show #header__menu-toggle {
  background-color: #00477a;
  color: white;
}

body.is-mobile #block-menu-menu-main-menu-2021 {
  transition: transform 0.3s;
  transform: translateX(100vw);
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 4rem;
  left: 0;
  bottom: 0;
  background: white;
  overflow: auto;
  padding: 0.5rem;
}

body.is-mobile #block-menu-menu-main-menu-2021 ul.depth-1 {
  margin: 0;
  padding: 0.5rem;
}

body.is-mobile #block-menu-menu-main-menu-2021 ul.depth-1 li {
  list-style: none;
  padding: 0;
}

body.is-mobile #block-menu-menu-main-menu-2021 ul.depth-1 a {
  display: block;
  padding: 0.5rem;
}

body.is-mobile #block-menu-menu-main-menu-2021 ul.depth-1 > * + * {
  margin-top: 0.5rem;
}

body.is-mobile #block-menu-menu-main-menu-2021 ul.depth-1 > li > div > a {
  background: white;
}

body.is-mobile #block-menu-menu-main-menu-2021 ul.depth-1 ul.depth-2 {
  display: none;
}

body.is-mobile #block-menu-menu-main-menu-2021 ul.depth-1 > li.active-trail {
  background-color: #f2f5f7;
}

body.is-mobile #block-menu-menu-main-menu-2021 ul.depth-1 > li.active-trail ul.depth-2 {
  display: block;
}

body.is-mobile #block-menu-menu-main-menu-2021 ul.depth-2 {
  padding: 0.5rem;
  margin: 0;
}

body.is-mobile.menu--show #block-menu-menu-main-menu-2021 {
  transform: none;
}

@media screen and (min-width: 576px) {
  #block-menu-menu-main-menu-2021 {
    margin-top: 1rem;
  }
  #block-menu-menu-main-menu-2021 .depth-1 {
    margin: 0;
    padding: 0;
    display: flex;
  }
  #block-menu-menu-main-menu-2021 .depth-1 > li {
    list-style: none;
    flex: 1 0 auto;
    margin: 0;
    padding: 0;
  }
  #block-menu-menu-main-menu-2021 .depth-1 > li > div > a {
    display: block;
    text-align: center;
    padding: 0.25em 0.75em;
    text-decoration: none;
    border-bottom: solid 2px transparent;
  }
  #block-menu-menu-main-menu-2021 .depth-1 > li > div > a:hover {
    border-bottom-color: #e8e8e8;
  }
  #block-menu-menu-main-menu-2021 .depth-1 > li.active-trail > div > a {
    border-bottom-color: #006ba3;
  }
  #block-menu-menu-main-menu-2021 .depth-2 {
    position: absolute;
    z-index: 1;
    margin: 0;
    padding: 0;
    background: #f2f5f7;
    border-left: solid 2px #006ba3;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity cubic-bezier(0.77, 0, 0.175, 1) 0.2s, max-height 0.2s 0.2s;
  }
  #block-menu-menu-main-menu-2021 .depth-1 > li:hover .depth-2 {
    max-height: 100vw;
    opacity: 1;
    transition: opacity cubic-bezier(0.77, 0, 0.175, 1) 0.2s, max-height 0.2s 0s;
    box-shadow: 0 10px 20px 3px rgba(0, 0, 0, 0.1);
  }
  #block-menu-menu-main-menu-2021 .depth-2 li {
    list-style: none;
    margin: 0.5rem 0;
    padding: 0;
  }
  #block-menu-menu-main-menu-2021 .depth-2 li a {
    display: block;
    padding: 0.25rem 1rem;
  }
}

.white-box {
  background-color: white;
  margin: 0 auto;
  width: 40rem;
  max-width: 90%;
  max-width: 90vw;
}

.paragraphs-item-pp-over-image {
  background-size: cover;
  background-position: center;
}

.paragraphs-item-pp-over-image .dcn-veil {
  min-height: 22rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.paragraphs-item-pp-over-image .dcn-veil > * {
  width: 100%;
}

.paragraphs-item-pp-over-image h1 {
  font-size: 2rem;
  font-size: clamp(2rem, calc(1rem + 5vw), 3rem);
}

.paragraphs-item-pp-t-i-side .field_text h2:first-child, .paragraphs-item-pp-t-i-side .field_text h3:first-child {
  margin-top: 0;
}

.paragraphs-item-pp-t-i-side.has-caption img {
  border-radius: 8px 8px 0 0;
}

.paragraphs-item-pp-t-i-side .field_caption {
  border-radius: 0 0 8px 8px;
  background: white;
}

.paragraphs-item-pp-t-i-side .field_caption p {
  margin-bottom: 0;
}

.node-article.view-mode-card_a:hover {
  box-shadow: 0 0 1rem rgba(0,0,0,0.2);
}

.node-article.view-mode-card_a a {
  text-decoration: none;
  color: unset;
}

.node-article.view-mode-card_a footer {
  border-top: solid 1px #e8e8e8;
}

#site-footer {
  border-top: solid 4px #006ba3;
  background: #00477a;
  color: white;
  padding-top: 2rem;
}

#site-footer a:link, #site-footer a:visited {
  color: #f2f5f7;
  text-decoration: none;
}

#site-footer a:hover, #site-footer a:active {
  text-decoration: underline;
}

#site-footer #block-menu-menu-footer-menu ul.menu {
  margin: 1rem 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#site-footer #block-menu-menu-footer-menu ul.menu > li {
  margin: 0;
  padding: 0 1rem;
  list-style: none;
}

#site-footer #block-social-media-links-social-media-links {
  text-align: center;
}

#site-footer .copyright {
  font-size: 1rem;
  text-align: center;
  padding: 2rem 0;
}

@-webkit-keyframes ar-anim {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-0.3em);
    color: #fc8;
  }
  60% {
    transform: translateY(0.2em);
  }
  80% {
    transform: translateY(-0.15em);
  }
  0% {
    transform: translateY(0);
  }
}

@keyframes ar-anim {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-0.3em);
    color: #fc8;
  }
  60% {
    transform: translateY(0.2em);
  }
  80% {
    transform: translateY(-0.15em);
  }
  0% {
    transform: translateY(0);
  }
}

a.ar-link:visited,
a.ar-link:link {
  text-decoration: none !important;
}

a.ar-link:hover {
  border-bottom: solid 1px;
  color: white;
}

a.ar-link span {
  display: inline-block;
}

a.ar-link:hover span {
  -webkit-animation-name: ar-anim;
          animation-name: ar-anim;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

a.ar-link span.ar-a {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

a.ar-link span.ar-r {
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}

a.ar-link span.ar-t {
  -webkit-animation-delay: 0.10s;
          animation-delay: 0.10s;
}

a.ar-link span.ar-f {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

a.ar-link span.ar-u {
  -webkit-animation-delay: 0.20s;
          animation-delay: 0.20s;
}

a.ar-link span.ar-l {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

a.ar-link span.ar-r2 {
  -webkit-animation-delay: 0.30s;
          animation-delay: 0.30s;
}

a.ar-link span.ar-o {
  -webkit-animation-delay: 0.32s;
          animation-delay: 0.32s;
}

a.ar-link span.ar-b {
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}

a.ar-link span.ar-o2 {
  -webkit-animation-delay: 0.38s;
          animation-delay: 0.38s;
}

a.ar-link span.ar-t2 {
  -webkit-animation-delay: 0.40s;
          animation-delay: 0.40s;
}

table {
  width: auto;
  border: medium none;
  border-collapse: collapse;
}

td, th {
  padding: 0.5rem 0.75rem;
  border: solid 1px #f2f5f7;
  background: white;
  vertical-align: top;
}

td p:last-child, th p:last-child {
  margin-bottom: 0;
}

td.active {
  background: white;
}

th {
  border-bottom: solid 1px #c6c6c6;
  font-weight: bold;
  background-color: #f2f5f7;
  text-align: left;
}

.ar-responsive tr:nth-child(even) {
  background: #EDF6FB;
}

.ar-responsive tr:nth-child(odd) {
  background: #F9FDFF;
}

.arr-table {
  margin-bottom: 2rem;
}

.arr-tr {
  padding-bottom: 1rem;
  padding: 0.5rem 1rem;
  border-bottom: solid 1px #d0d0d0;
}

.arr-tr.even {
  background: #EDF6FB;
}

.arr-tr.odd {
  background: #ebf8ff;
}

.arr-th {
  font-size: 0.8em;
  opacity: 0.8;
}

.arr-td {
  margin-bottom: 0.5rem;
}

.arr-td > *:first-child {
  margin-top: 0;
}

.arr-filters {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
  padding: 1rem 0;
  background: #f8f8f8;
  border: solid 1px #f0f0f0;
  border-radius: 3px;
}

.arr-filter {
  flex: 0 0 auto;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.arr-filter label {
  padding-right: 0.5rem;
}

.videos-three {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.videos-three__item {
  flex: 1 0 100px;
  padding: 1rem;
}

#block-system-main > .content > .action-links {
  max-width: 1200px;
  padding: 0 0.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.6rem;
}

.field-name-body {
  max-width: 1200px;
  padding: 0 0.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4rem;
}

#block-system-main > .content > .view {
  max-width: 1200px;
  padding: 0 0.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4rem;
}

.crm-container.crm-public {
  max-width: 1200px;
  padding: 0 0.5rem;
  margin-left: auto;
  margin-right: auto;
}

.crm-container.crm-public #help, .crm-container.crm-public .help {
  background: white;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  color: #00477a;
  border: none;
  border-left: solid 4px #006ba3;
  border-radius: 4px;
}

.crm-container.crm-public .crm-submit-buttons, .crm-container.crm-public .action-link {
  height: auto;
}

.crm-container.crm-public span.crm-button {
  float: none !important;
  display: inline-block;
  padding: 0;
  border: none;
  background: none transparent;
  position: relative;
}

.crm-container.crm-public span.crm-button i.crm-i {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  font-size: 1rem;
  line-height: 1.2;
}

.crm-container.crm-public span.crm-button input {
  padding: 0.5rem 2rem 0.5rem 2.4rem !important;
  border: none;
  line-height: 1.2;
  font-size: 1rem;
  text-shadow: none;
  background: #006ba3;
  color: white;
}

.crm-container.crm-public span.crm-button input:active, .crm-container.crm-public span.crm-button input:hover {
  background: #00477a;
}

#uc-cart-view-form td.qty {
  min-width: 7rem;
}

.crm-profile-name-Membership .crm-section .label,
.crm-profile-name-Communication_Preferences_70 .crm-section .label {
  float: none;
  width: 100%;
  padding: 0;
  text-align: left;
  white-space: normal;
}

.crm-profile-name-Membership .crm-section .content,
.crm-profile-name-Communication_Preferences_70 .crm-section .content {
  margin-left: 0;
}

@media screen and (max-width: 767px) {
  body.page-forum .tabs--primary.nav-tabs {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  body.page-forum .tabs--primary.nav-tabs {
    display: block;
    margin-bottom: 2rem;
  }
}

.forum-table-superheader {
  background: #006ba3;
  color: white;
  margin-bottom: 1rem;
}

.forum-table-superheader a:link {
  color: white;
}

.forum-table-superheader a:visited {
  color: white;
}

.forum-table-superheader a:hover {
  color: white;
  text-decoration: underline;
}

.forum-table-superheader a:active {
  color: #ec5f17;
}

article.forum-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2rem;
  border: solid 1px #eee;
}

article.forum-row .forum-post-title,
article.forum-row .forum-post-by {
  padding: 0 0.5rem 0 0;
}

article.forum-row .forum-post-date {
  padding: 0;
}

article.forum-row .forum-post-by {
  display: none;
}

@media screen and (max-width: 767px) {
  article.forum-row .forum-post-by {
    display: none;
  }
}

.forum-details {
  grid-row: 1;
  grid-column: 1 / span 2;
  padding: 0.5rem 1rem 0.5rem;
}

.forum-details h1 {
  margin: 0;
  font-size: 2.3rem;
}

.forum-name-icons-wrapper {
  display: flex;
  align-items: center;
}

.forum-name-icons-wrapper .forum-name {
  flex: 1 1 auto;
}

.forum-name-icons-wrapper .forum-list-icon {
  flex: 0 0 auto;
}

.forum-number-topics {
  background: #eee;
  padding: 1rem;
  grid-row: 2;
  grid-column: 1;
}

.forum-number-posts {
  background: #eee;
  padding: 1rem;
  grid-row: 2;
  grid-column: 2;
  text-align: right;
}

article.forum-row .forum-last-reply {
  background: #eee;
  padding: 0 1rem 1rem;
  grid-row: 3;
  grid-column: 1 / span 2;
  display: flex;
}

article.forum-row .forum-last-reply > .forum-post-title {
  flex: 1 1 auto;
  padding-right: 2rem;
}

article.forum-row .forum-last-reply > .forum-post-by {
  flex: 0 0 auto;
  padding-right: 1rem;
}

article.forum-row .forum-last-reply > .forum-post-date {
  flex: 0 0 auto;
  text-align: right;
}

article.forum-topic {
  margin-bottom: 2rem;
  border: solid 1px #eee;
}

article.forum-topic .forum-topic-title {
  font-size: 2.3rem;
}

article.forum-topic .forum-topic-latest {
  background: #f0f0f0;
  padding: 0.5rem 1rem;
}

.forum-topic-title-meta {
  padding: 0.5rem 1rem;
}

@media screen and (min-width: 768px) {
  .forum-topic-title-meta {
    display: flex;
    padding: 0.5rem 1rem;
  }
  .forum-topic-title-meta .forum-topic-title {
    flex: 1 1 auto;
  }
  .forum-topic-title-meta .forum-topic-meta {
    flex: 0 0 26rem;
  }
}

@media screen and (max-width: 767px) {
  .views-field-topic-icon {
    display: none;
  }
}

div.forum-post {
  margin: 2rem -2rem;
  padding: 0 2rem;
  margin: 1px -2rem 0;
  padding: 1rem 2rem;
  background: #f1f1f1;
  display: grid;
  grid-gap: 0;
}

div.forum-post.posted-by-3 .forum-post-content {
  color: #00477A;
}

.forum-post-info {
  padding: 1rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 2rem;
}

.forum-post-info .author-pane {
  display: inline-block;
}

.forum-post-info .forum-posted-on {
  float: none;
  font-size: 1.4rem;
  padding: 0;
  color: #777;
}

.forum-post-info__author {
  grid-column: 1;
}

.forum-post-info__when {
  grid-column: 2;
}

.forum-post-info__author,
.forum-post-info__when {
  display: flex;
  align-items: top;
  margin-bottom: 1rem;
}

.forum-post-info__author > .dcn-icon,
.forum-post-info__when > .dcn-icon {
  flex: 0 0 auto;
}

.forum-post-info__author > span,
.forum-post-info__when > span {
  flex: 1 1 auto;
  padding-left: 1rem;
}

.forum-post-wrapper {
  position: relative;
}

.forum-post-panel-main {
  float: none;
  margin: 0;
  padding: 1.5rem 2rem;
  height: 100%;
  position: relative;
  z-index: 1;
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
}

.forum-post-panel-main .forum-decorative-arrow:before, .forum-post-panel-main .forum-decorative-arrow:after {
  position: absolute;
  content: '';
  border-bottom: 20px solid white;
  border-left: 20px solid transparent;
  border-top: 20px solid transparent;
  border-right: 20px solid transparent;
  width: 0;
  height: 0;
  left: 20px;
  left: calc(50% - 30px);
  top: -40px;
}

.forum-post-panel-main .forum-decorative-arrow:before {
  border-bottom: 20px solid rgba(0, 0, 0, 0.2);
  left: calc(50% - 32px);
  top: -40px;
}

.forum-post-panel-main .forum-post-content {
  flex: 1 0 auto;
  font-size: 1.6rem;
  padding: 0;
}

.forum-post-panel-main ul.links {
  flex: 0 0 auto;
  margin: 0;
  text-align: right;
}

.forum-post-panel-main ul.links li {
  float: none;
  display: inline-block;
}

.forum-post-panel-sub {
  float: none;
  width: auto;
}

.forum-post-panel-sub .author-pane {
  margin: 0 0 1rem;
}

.forum-post-footer {
  height: auto;
  display: flex;
}

.forum-post-footer .author-pane {
  flex: 0 0 auto;
}

.forum-post-footer .author-pane a {
  line-height: 2em;
}

.forum-post-footer .forum-post-links {
  flex: 1 1 auto;
}

.forum-topic .forum-post-panel-main {
  border: solid 1px #006ba3;
}

.forum-topic .forum-post-panel-main .forum-decorative-arrow:before {
  border-bottom-color: #006ba3;
}

@media screen and (min-width: 768px) {
  div.forum-post {
    grid-template-columns: 20rem 1fr;
  }
  .forum-post-info {
    grid-column: 1;
    grid-row: 1;
    display: block;
  }
  .forum-post-wrapper {
    grid-column: 2;
    grid-row: 1;
  }
  .forum-post-info__when .date {
    display: block;
  }
  .forum-post-panel-main .forum-decorative-arrow:before, .forum-post-panel-main .forum-decorative-arrow:after {
    position: absolute;
    content: '';
    border-left: 0 none;
    border-right: 20px solid white;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    width: 0;
    height: 0;
    left: -20px;
    top: 20px;
    top: calc(50% - 30px);
  }
  .forum-post-panel-main .forum-decorative-arrow:before {
    left: -20px;
    top: 22px;
    top: calc(50% - 28px);
    border-right-color: rgba(0, 0, 0, 0.2);
  }
  .forum-topic .forum-post-panel-main .forum-decorative-arrow:before {
    border-right-color: #006ba3;
    border-bottom-color: transparent;
  }
}

.forum-comment-pager {
  background: #f1f1f1;
  margin: 0 -2rem;
  padding: 2rem;
}

#forum-comment-form-wrapper {
  margin: 0 -2rem;
  padding: 2rem;
  background: #006ba3;
  color: white;
}

#forum-comment-form-wrapper a.username {
  color: white;
}

#forum-comment-form-wrapper #edit-author--2 {
  margin-top: 2rem;
  font-size: 16px;
}

#forum-comment-form-wrapper label {
  font-size: 16px;
}

#forum-comment-form-wrapper button {
  background: white;
  color: #00477A;
  border-radius: 3px;
  text-transform: uppercase;
  display: block;
  margin: 1rem 0 1rem auto;
  border: none;
  padding: 1rem 2rem;
}

#forum-comment-form-wrapper button:active {
  background: #00477A;
  color: white;
}

#forum-comment-form-wrapper .form-item-subject,
#forum-comment-form-wrapper .filter-wrapper, #forum-comment-form-wrapper .wysiwyg-toggle-wrapper,
#forum-comment-form-wrapper .form-item-notify-type {
  display: none;
}

.library-item {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 1.5rem 0;
  background: white;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
}

.library-item .views-field-field-author {
  color: #777;
  margin-bottom: 1rem;
}

.library-item__image {
  flex: 0 1 100%;
  padding: 1rem;
}

.library-item__image a {
  display: block;
}

.library-item__image img {
  display: block;
  margin: 0 auto;
  max-height: 200px;
  width: auto;
}

.library-item__text {
  flex: 1 0 200px;
  padding: 1rem 1rem;
}

.library-item__text h1 {
  margin-top: 0;
  font-size: 1.8rem;
}

.library-item__meta {
  padding: 1rem 1rem;
  flex: 0 0 auto;
}

@media screen and (min-width: 768px) {
  .library-item {
    flex-wrap: nowrap;
  }
  .library-item__image {
    flex: 0 1 200px;
  }
  .library-item__image img {
    max-width: 100%;
    max-height: none;
    height: auto;
  }
  .library-item__text h1 {
    font-size: 2.2rem;
  }
}

#views-exposed-form-library-listings-page {
  background-color: #ebf8ff;
  border-radius: 3px;
  padding: 1rem;
}

#views-exposed-form-library-listings-page .views-exposed-widgets {
  display: flex;
  flex-wrap: wrap;
}

#views-exposed-form-library-listings-page .views-exposed-widgets .views-exposed-widget {
  flex: 1 0 auto;
  padding: 0 0.5rem;
}

#views-exposed-form-library-listings-page .views-exposed-widgets .views-exposed-widget input, #views-exposed-form-library-listings-page .views-exposed-widgets .views-exposed-widget button {
  width: 100%;
}

#block-menu-block-13 {
  background-color: #f5f5f5;
  padding: 1rem;
}

#block-menu-block-13 h2.block-title {
  padding: 0 1rem;
  margin: 0 0 1rem;
  text-align: center;
}

#block-menu-block-13 ul.menu.nav {
  float: none;
}

#block-menu-block-13 ul.menu.nav li {
  display: block;
}

#block-menu-block-13 ul.menu.nav li a {
  text-align: center;
  display: block;
}

#block-menu-block-13 ul.menu.nav li a:link, #block-menu-block-13 ul.menu.nav li a:visited {
  background: #006ba3;
  color: white !important;
}

#block-menu-block-13 ul.menu.nav li a:hover, #block-menu-block-13 ul.menu.nav li a:active {
  background: #00477A;
  color: white !important;
}

body.page-node-3443 .arr-th:nth-child(9),
body.page-node-3443 .arr-td:nth-child(10) {
  display: none;
}

body.page-node-3443 .ar-responsive tr td:nth-child(5),
body.page-node-3443 .ar-responsive tr th:nth-child(5) {
  display: none;
}

body.page-node-3443.logged-in .arr-th:nth-child(9),
body.page-node-3443.logged-in .arr-td:nth-child(10) {
  display: block;
}

body.page-node-3443.logged-in .ar-responsive tr td:nth-child(5),
body.page-node-3443.logged-in .ar-responsive tr th:nth-child(5) {
  display: table-cell;
}

.force-white-text {
  color: white;
}

.force-white-text h1, .force-white-text h2, .force-white-text h3, .force-white-text p {
  color: white;
}

.image-max-100 img {
  max-width: 100%;
  height: auto;
  display: block;
}

.image-100 img {
  width: 100%;
  height: auto;
  display: block;
}
