#civicrm-menu, #root-menu-div ul,
.ui-widget {
  font-family: Lato; }

.ui-widget {
  font-size: 1em; }

.crm-container h3 {
  background: transparent;
  margin: 2.5rem 0 0.5rem;
  font-size: 1.25rem; }

#crm-container div.crm-inline-edit,
#crm-container .crm-edit-ready .crm-inline-edit,
.crm-container .crm-editable-enabled {
  border-width: 1px; }
  #crm-container div.crm-inline-edit:hover,
  #crm-container .crm-edit-ready .crm-inline-edit:hover,
  .crm-container .crm-editable-enabled:hover {
    border-width: 1px; }

#crm-container div.crm-inline-edit.form {
  border-width: 1px; }

.ui-widget-header {
  background: #f8f8f8;
  border: none; }

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: #f8f8f8;
  border: none;
  border-radius: 0; }
  .ui-state-default:hover,
  .ui-widget-content .ui-state-default:hover,
  .ui-widget-header .ui-state-default:hover {
    background: #b9ddf9; }

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  background: #f8f8f8;
  border: none;
  border-radius: 0;
  background: #a1d1f7;
  color: #2c98ed; }
  .ui-state-active:hover,
  .ui-widget-content .ui-state-active:hover,
  .ui-widget-header .ui-state-active:hover {
    background: #b9ddf9; }
  .ui-state-active a:link, .ui-state-active a:visited,
  .ui-widget-content .ui-state-active a:link,
  .ui-widget-content .ui-state-active a:visited,
  .ui-widget-header .ui-state-active a:link,
  .ui-widget-header .ui-state-active a:visited {
    color: #2c98ed; }

.crm-container .crm-accordion-header {
  color: #02477d; }
  .crm-container .crm-accordion-header.active {
    background-color: #5baff1;
    color: #02477d; }
  .crm-container .crm-accordion-header:hover, .crm-container .crm-accordion-header.active:hover {
    background-color: #5baff1; }

.crm-container .crm-accordion-wrapper {
  margin-bottom: 1rem; }

#crm-container #civicrm-dashboard .widget-controls,
.crm-container .crm-accordion-header {
  background-color: #8ac6f5;
  transition: background-color 0.2s; }

.crm-container .crm-accordion-body {
  background: #f3f2ed;
  padding: 1rem;
  border-radius: 0;
  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2); }

.crm-container a.button,
.crm-container a.button:link,
.crm-container a.button:visited,
.crm-container input.crm-form-submit,
.crm-container .ui-dialog-buttonset .ui-button,
.crm-container input[type="button"],
.crm-container .crm-button {
  background: #2c98ed;
  text-shadow: none;
  border: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  padding: 0.4em 1em;
  float: none;
  display: inline-block; }
  .crm-container a.button:hover,
  .crm-container a.button:link:hover,
  .crm-container a.button:visited:hover,
  .crm-container input.crm-form-submit:hover,
  .crm-container .ui-dialog-buttonset .ui-button:hover,
  .crm-container input[type="button"]:hover,
  .crm-container .crm-button:hover {
    background-color: #127fd4; }

.crm-container .action-link {
  margin: 1rem 0; }

.crm-container .help, .crm-container #help {
  padding: 1rem;
  border-radius: 0;
  border: none;
  background: #e0effb;
  border-left: 4px solid #2c98ed;
  font-size: 1rem; }

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0 0.5rem; }
  .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: none;
    border: none;
    border: solid 1px #2c98ed;
    background: #e0effb; }

thead tr:first-child {
  position: -webkit-sticky;
  position: sticky;
  top: 2.6rem;
  z-index: 20; }

#mainTabContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 12rem auto;
      grid-template-columns: 12rem auto;
  padding: 0;
  border: none; }
  #mainTabContainer .crm-contact-tabs-list {
    padding: 0;
    background-color: #eae9e4;
    margin: 0;
    border-radius: none; }
    #mainTabContainer .crm-contact-tabs-list li.crm-tab-button {
      background: none;
      display: block;
      float: none;
      margin-right: 0; }
      #mainTabContainer .crm-contact-tabs-list li.crm-tab-button:focus {
        outline: none; }
      #mainTabContainer .crm-contact-tabs-list li.crm-tab-button:not(.ui-tabs-active) {
        border-bottom: solid 1px rgba(0, 0, 0, 0.05); }
      #mainTabContainer .crm-contact-tabs-list li.crm-tab-button a {
        float: none; }
    #mainTabContainer .crm-contact-tabs-list .ui-tabs-anchor {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 0.5rem 1rem !important; }
      #mainTabContainer .crm-contact-tabs-list .ui-tabs-anchor i {
        -webkit-flex: 0 0 1.2rem;
            -ms-flex: 0 0 1.2rem;
                flex: 0 0 1.2rem; }
      #mainTabContainer .crm-contact-tabs-list .ui-tabs-anchor span {
        -webkit-flex: 1 1 auto;
            -ms-flex: 1 1 auto;
                flex: 1 1 auto;
        padding-left: 1em; }
      #mainTabContainer .crm-contact-tabs-list .ui-tabs-anchor em {
        -webkit-flex: 0 0 auto;
            -ms-flex: 0 0 auto;
                flex: 0 0 auto; }
    #mainTabContainer .crm-contact-tabs-list li.crm-tab-button.ui-state-active {
      background: #f8f8f8;
      border-bottom: none; }
    #mainTabContainer .crm-contact-tabs-list li.crm-tab-button.ui-state-active .ui-tabs-anchor {
      background: #f8f8f8;
      color: black;
      border-bottom: none;
      font-weight: bold; }
    #mainTabContainer .crm-contact-tabs-list li.ui-tabs-active {
      margin-bottom: 0; }
  #mainTabContainer .ui-tabs-panel {
    padding: 1rem; }

.crm-container div.contact_panel {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15rem, 1fr))[2];
      grid-template-columns: repeat(2, minmax(15rem, 1fr));
  grid-gap: 1rem;
  margin-bottom: 1rem; }

#crm-container div.contactCardRight,
#crm-container div.contactCardLeft {
  float: none;
  width: auto;
  clear: none;
  background: white; }

.crm-container .crm-inline-block-content.crm-clear {
  background: white;
  padding: 1rem; }
  .crm-container .crm-inline-block-content.crm-clear .crm-content, .crm-container .crm-inline-block-content.crm-clear .crm-label, .crm-container .crm-inline-block-content.crm-clear .crm-summary-row {
    background: none; }
  .crm-container .crm-inline-block-content.crm-clear .crm-label {
    font-size: 0.875rem; }

#crm-container div.crm-summary-row div.crm-label {
  background: none; }

#crm-container div.crm-summary-row {
  background: none;
  border-top: none;
  margin-bottom: 0.3125rem; }

#crm-container .separator {
  border-bottom: solid 1px rgba(0, 0, 0, 0.2); }

.crm-container .crm-collapsible .collapsible-title {
  margin-bottom: 0.5rem; }

table {
  margin: 1rem 0; }

#crm-container th.contriTotalLeft,
#crm-container th.contriTotalRight {
  border: none; }

#civicrm-dashboard {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  #civicrm-dashboard #column-0 {
    -webkit-flex: 1 0 40%;
        -ms-flex: 1 0 40%;
            flex: 1 0 40%; }
  #civicrm-dashboard #column-1 {
    -webkit-flex: 1 0 60%;
        -ms-flex: 1 0 60%;
            flex: 1 0 60%; }

#crm-container ul.wizard-bar {
  border: none; }

.ui-widget-content {
  border-color: #e8e8e8;
  background: #f8f8f8; }

#crm-container div.crm-summary-contactname-block {
  margin-top: 0; }

#crm-container #civicrm-dashboard h3.widget-header {
  color: #222; }

.crmMailing .preview-popup, .crmMailing .preview-contact, .crmMailing .preview-group {
  height: 6rem; }

#crm-container .crm-edit-ready .crm-inline-edit:hover .crm-edit-help {
  background-color: #ffeb99; }

.crm-tag-item {
  line-height: 1.25; }

.crm-container div.crm-clear {
  font-size: inherit; }

.crm-container .crm-tab-button a,
.crm-container .ui-tabs .ui-tabs-nav li a {
  padding: 0.5rem 1rem !important; }

.crm-container ul li.crm-tab-button.ui-state-active {
  background: none;
  border-bottom: solid 2px #2c98ed; }

.crm-container ul li.crm-tab-button em {
  margin-left: 1rem;
  display: inline-block; }

.crm-container .crm-form-block {
  background-color: white; }

.crm-container input {
  box-sizing: border-box; }

#secondaryTabContainer {
  border: none;
  padding: 0; }

/*# sourceMappingURL=aaah-civicrm-no-shoreditch.css.map */
