html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Lato;
  font-size: 1rem;
  color: #222;
  background-color: #f2f5f7;
}

h1, h2 {
  font-weight: light;
  margin: 2rem 0 1rem;
  line-height: 1.3;
  color: black;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3, h4, h5 {
  max-width: 65em;
}

p {
  margin: 0 0 1rem;
  line-height: 1.4;
  max-width: 55em;
}

li {
  max-width: 55em;
}

ul {
  margin: 1rem 0;
}

table {
  border-collapse: collapse;
}

tbody {
  border: none;
}

td {
  padding: 0.5rem 1rem;
  border: solid 1px #d8d8d8;
}

th {
  padding: 0.5rem 1rem;
  background-color: white;
  border: solid 1px #d8d8d8;
}

aside.box {
  margin: 1rem 0;
  padding: 1rem;
  border: solid 1px rgba(0, 0, 0, 0.1);
  max-width: 55em;
}

aside.box h1 {
  margin: -0.5rem -0.5rem 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  color: white;
}

aside.box--info {
  background-color: #e9f9db;
  border-color: #c0e79f;
}

aside.box--info h1 {
  background-color: #97d462;
}

aside.box--warning {
  background-color: #ffedcc;
  border-color: #eaa75c;
}

aside.box--warning h1 {
  background-color: #eaa75c;
}

div.image-container {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
}

.image-caption {
  flex: 1 1 auto;
  padding-right: 1rem;
}

.image-wrapper {
  flex: 0 0 auto;
  max-width: 80%;
}

.image-wrapper img {
  width: 100%;
  height: auto;
  display: block;
}

/* work-sans-300 - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  src: url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-300.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-300.eot?#iefix") format("embedded-opentype"), url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-300.woff2") format("woff2"), url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-300.woff") format("woff"), url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-300.ttf") format("truetype"), url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-300.svg#WorkSans") format("svg");
  /* Legacy iOS */
}

/* work-sans-regular - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-regular.eot?#iefix") format("embedded-opentype"), url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-regular.woff2") format("woff2"), url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-regular.woff") format("woff"), url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-regular.ttf") format("truetype"), url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-regular.svg#WorkSans") format("svg");
  /* Legacy iOS */
}

/* work-sans-600 - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  src: url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-600.eot?#iefix") format("embedded-opentype"), url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-600.woff2") format("woff2"), url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-600.woff") format("woff"), url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-600.ttf") format("truetype"), url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-600.svg#WorkSans") format("svg");
  /* Legacy iOS */
}

/* work-sans-italic - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 400;
  src: url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-italic.eot?#iefix") format("embedded-opentype"), url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-italic.woff2") format("woff2"), url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-italic.woff") format("woff"), url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-italic.ttf") format("truetype"), url("/sites/default/themes/aaah/fonts/work-sans-v9-latin-italic.svg#WorkSans") format("svg");
  /* Legacy iOS */
}

/* hind-700 - latin */
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/hind-v11-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/hind-v11-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/hind-v11-latin-700.woff2") format("woff2"), url("../fonts/hind-v11-latin-700.woff") format("woff"), url("../fonts/hind-v11-latin-700.ttf") format("truetype"), url("../fonts/hind-v11-latin-700.svg#Hind") format("svg");
  /* Legacy iOS */
}

body {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
}

body strong, body b {
  font-weight: 600;
}

h1, h2, h3 {
  font-weight: 700;
  color: #00477a;
  font-family: Hind;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.4rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.84rem;
  }
  h2 {
    font-size: 3.52rem;
  }
  h3 {
    font-size: 3.2rem;
  }
}

p.rtecenter {
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  font-weight: 300;
  font-size: 2.2rem;
  color: #00477a;
  padding: 0;
  width: 28.8rem;
  width: clamp(28.8rem, 70%, 60ch);
  margin-left: auto;
  margin-right: auto;
}

blockquote::after {
  display: block;
  content: ' ';
  border-bottom: solid 1px #ea4f3a;
  width: 50%;
  margin: 0 auto 1.6rem;
}

a.button {
  border: none;
  padding: 0.8rem 3.2rem;
  background-color: #ea4f3a;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.button:link, a.button:visited {
  color: white;
}

a.button:hover {
  background-color: #da2e17;
  text-decoration: none;
}

a.button.secondary {
  background-color: #4894bb;
}

a.button.secondary:hover {
  background-color: #006ba3;
}

.shouting {
  font-weight: 300;
  font-size: 2.4rem;
}

@media screen and (min-width: 576px) {
  .shouting {
    font-size: 2.88rem;
  }
}

.smallprint {
  font-size: 1.32rem;
  opacity: 0.7;
}

