html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: Lato;
  font-size: 1rem;
  color: #222;
  background-color: #f3f2ed; }

h1, h2 {
  font-weight: light;
  margin: 2rem 0 1rem;
  line-height: 1.3;
  color: black; }

h1 {
  font-size: 2.4rem; }

h2 {
  font-size: 2rem; }

h3, h4, h5 {
  max-width: 65em; }

p {
  margin: 0 0 1rem;
  line-height: 1.4;
  max-width: 55em; }

li {
  max-width: 55em; }

ul {
  margin: 1rem 0; }

table {
  border-collapse: collapse; }

tbody {
  border: none; }

td {
  padding: 0.5rem 1rem;
  border: solid 1px #d8d8d8; }

th {
  padding: 0.5rem 1rem;
  background-color: white;
  border: solid 1px #d8d8d8; }

aside.box {
  margin: 1rem 0;
  padding: 0.5rem;
  border: solid 1px rgba(0, 0, 0, 0.1);
  max-width: 65em; }
  aside.box h1 {
    margin: -0.5rem -0.5rem 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    color: white; }

aside.box--info {
  background-color: #e9f9db;
  border-color: #97d462; }
  aside.box--info h1 {
    background-color: #97d462; }

aside.box--warning {
  background-color: #ffedcc;
  border-color: #eaa75c; }
  aside.box--warning h1 {
    background-color: #eaa75c; }

body.page-civicrm {
  padding-top: 3rem; }
  body.page-civicrm h1.page-header {
    display: none; }

.crm-container .crm-form-block {
  background-color: white; }

#civicrm-menu, #root-menu-div ul,
.ui-widget {
  font-family: Lato; }

.ui-widget {
  font-size: 1em; }

#crm-container div.crm-inline-edit,
#crm-container .crm-edit-ready .crm-inline-edit,
.crm-container .crm-editable-enabled {
  border-width: 1px; }
  #crm-container div.crm-inline-edit:hover,
  #crm-container .crm-edit-ready .crm-inline-edit:hover,
  .crm-container .crm-editable-enabled:hover {
    border-width: 1px; }

#crm-container div.crm-inline-edit.form {
  border-width: 1px; }

.ui-widget-header {
  background: #f8f8f8;
  border: none; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: #f8f8f8;
  border: none;
  border-radius: 0;
  border-bottom: solid 4px transparent; }
  .ui-state-default:hover, .ui-widget-content .ui-state-default:hover, .ui-widget-header .ui-state-default:hover {
    background: #b9ddf9; }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  background: #f8f8f8;
  border: none;
  border-radius: 0;
  border-bottom: solid 4px #2c98ed;
  color: #2c98ed; }
  .ui-state-active:hover, .ui-widget-content .ui-state-active:hover, .ui-widget-header .ui-state-active:hover {
    border-bottom-color: #2c98ed; }
  .ui-state-active a:link, .ui-state-active a:visited, .ui-widget-content .ui-state-active a:link, .ui-widget-content .ui-state-active a:visited, .ui-widget-header .ui-state-active a:link, .ui-widget-header .ui-state-active a:visited {
    color: #2c98ed; }

.crm-container ul li.crm-tab-button {
  border-bottom: solid 3px transparent; }
  .crm-container ul li.crm-tab-button.ui-state-active {
    border-bottom-color: #2c98ed; }

.crm-container .ui-dialog-titlebar.ui-widget-header {
  background: #333; }

.crm-container a.button,
.crm-container a.button:link,
.crm-container a.button:visited,
.crm-container input.crm-form-submit,
.crm-container .ui-dialog-buttonset .ui-button,
.crm-container input[type="button"],
.crm-container .crm-button {
  background: #2c98ed;
  text-shadow: none;
  border: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  padding: 0.4em 1em;
  float: none;
  display: inline-block; }
  .crm-container a.button:hover,
  .crm-container a.button:link:hover,
  .crm-container a.button:visited:hover,
  .crm-container input.crm-form-submit:hover,
  .crm-container .ui-dialog-buttonset .ui-button:hover,
  .crm-container input[type="button"]:hover,
  .crm-container .crm-button:hover {
    background-color: #127fd4; }

#crm-container ul.wizard-bar {
  border: none; }

.ui-widget-content {
  border-color: #e8e8e8; }

.crmMailing .preview-popup, .crmMailing .preview-contact, .crmMailing .preview-group {
  height: 6rem; }

#crm-container .crm-edit-ready .crm-inline-edit:hover .crm-edit-help {
  background-color: #ffeb99; }

.crm-container .crm-accordion-header {
  background-color: #8ac6f5;
  color: #02477d; }
  .crm-container .crm-accordion-header.active {
    background-color: #5baff1;
    color: #02477d; }
  .crm-container .crm-accordion-header:hover, .crm-container .crm-accordion-header.active:hover {
    background-color: #5baff1; }

#crm-container #civicrm-dashboard .widget-controls,
.crm-container .crm-accordion-header {
  background-color: #8ac6f5;
  transition: background-color 0.3s; }

.crm-container h3 {
  background: #8ac6f5; }

#crm-container #civicrm-dashboard h3.widget-header {
  color: #222; }

#civicrm-dashboard {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  #civicrm-dashboard #column-0 {
    -webkit-flex: 1 0 40%;
        -ms-flex: 1 0 40%;
            flex: 1 0 40%; }
  #civicrm-dashboard #column-1 {
    -webkit-flex: 1 0 60%;
        -ms-flex: 1 0 60%;
            flex: 1 0 60%; }

.crm-tag-item {
  line-height: 1.25; }

.crm-container div.crm-clear {
  font-size: inherit; }

body {
  padding: 0; }

input[type="text"], input[type="password"], textarea {
  background: white;
  border: solid 1px #555;
  color: #222;
  border-radius: 3px;
  width: 100%;
  padding: 0.5rem; }

label {
  font-weight: normal; }

.has-sidebar #content {
  margin-left: 22rem;
  transition: margin-left 0.2s; }

.has-sidebar #sidebar-toggle {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 20rem;
  height: 1.5rem;
  line-height: 1;
  background-color: #333;
  padding: 0 0.5rem;
  color: rgba(255, 255, 255, 0.6);
  transition: all 0.2s;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  text-align: center;
  cursor: pointer; }
  .has-sidebar #sidebar-toggle:hover {
    color: white; }

.has-sidebar.sidebar-closed #sidebar-toggle {
  -webkit-transform: translate(1.5rem, 0rem) rotate(-90deg);
          transform: translate(1.5rem, 0rem) rotate(-90deg);
  width: 9rem; }

.has-sidebar.sidebar-closed #content {
  margin-left: 2rem; }

.has-sidebar.sidebar-closed aside.sidebar {
  -webkit-transform: translateX(-20rem);
          transform: translateX(-20rem); }

aside.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  bottom: 0;
  padding: 3rem 1rem 0;
  overflow-y: auto;
  background-color: #333;
  color: #eee; }
  aside.sidebar h1, aside.sidebar h2, aside.sidebar h3, aside.sidebar h4 {
    color: #eee; }
  aside.sidebar a:link, aside.sidebar a:visited {
    color: #eee; }
  aside.sidebar input[type="text"], aside.sidebar input[type="password"], aside.sidebar textarea {
    background: #555;
    border-color: #333;
    color: white; }

.field-name-body img {
  max-width: 100%;
  height: auto; }

.menu-block-1 ul.menu {
  padding: 0;
  margin: 0 -1rem; }
  .menu-block-1 ul.menu li {
    margin: 0;
    list-style: none; }

.menu-block-1 li, .menu-block-1 li.leaf {
  padding: 0; }

.menu-block-1 li > a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: white; }
  .menu-block-1 li > a.active-trail {
    background-color: #555;
    font-weight: bold;
    color: #222; }
  .menu-block-1 li > a.active {
    background-color: #f3f2ed;
    color: #222; }

body.adminimal-menu #content ul.tabs.primary {
  display: none; }

.docnav__fakeanchor {
  position: absolute;
  margin-top: -3rem; }

.docnav-wrapper ul.docnav {
  margin: 0;
  padding: 0;
  list-style: none; }

.docnav-wrapper li {
  margin: 0;
  padding: 0; }
  .docnav-wrapper li.selected-route > a {
    font-weight: bold; }
  .docnav-wrapper li.selected > a {
    font-weight: bold; }

.docnav-wrapper li ul {
  display: none; }

.docnav-wrapper li.selected-route > ul,
.docnav-wrapper li.selected > ul {
  display: block; }

.docnav-wrapper a {
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.3s; }

.docnav-wrapper li a {
  text-decoration: none; }

.docnav-wrapper li.depth-0 a {
  background: #dfdcce;
  color: #222; }

.docnav-wrapper li.depth-1 a {
  background: #555;
  color: white; }

.docnav-wrapper li.depth-2 a {
  background: #f8f8f8;
  color: #222; }

.docnav-wrapper li.depth-0 a {
  padding-left: 1rem; }

.docnav-wrapper li.depth-1 a {
  padding-left: 2rem; }

.docnav-wrapper li.depth-2 a {
  padding-left: 3rem; }

.docnav-wrapper li.depth-3 a {
  padding-left: 4rem; }

.docnav-wrapper li.depth-4 a {
  padding-left: 5rem; }

.docnav-wrapper li.depth-5 a {
  padding-left: 6rem; }

.docnav-wrapper li.depth-6 a {
  padding-left: 7rem; }

@-webkit-keyframes attn {
  0% {
    -webkit-transform: none;
            transform: none; }
  20% {
    -webkit-transform: translate(0, -3px);
            transform: translate(0, -3px); }
  50% {
    -webkit-transform: translate(0, -5px);
            transform: translate(0, -5px); }
  80% {
    -webkit-transform: translate(0, -3px);
            transform: translate(0, -3px); }
  100% {
    -webkit-transform: none;
            transform: none; } }

@keyframes attn {
  0% {
    -webkit-transform: none;
            transform: none; }
  20% {
    -webkit-transform: translate(0, -3px);
            transform: translate(0, -3px); }
  50% {
    -webkit-transform: translate(0, -5px);
            transform: translate(0, -5px); }
  80% {
    -webkit-transform: translate(0, -3px);
            transform: translate(0, -3px); }
  100% {
    -webkit-transform: none;
            transform: none; } }

.attention {
  -webkit-animation: attn 0.2s forwards linear;
          animation: attn 0.2s forwards linear; }

/*# sourceMappingURL=page.css.map */
