// These styles apply to CiviCRM whether Shoreditch is enabled or not.
// Note that there are some styles which refer to bootstrap, because as of 5.19
// Bootstrap is in use in various places, but this is separate to whether
// Shoreditch is used for the custom CSS (in Resource URLs settings page)
//
// There are other CSS which are loaded based on the Aaah theme's setting option:
//
// - aaah-civicrm-no-shoreditch.scss
// - aaah-civicrm-shoreditch.scss
@import 'lib';

body.page-civicrm {
  h1.page-header {
    display:none; // CiviCRM seems to output this anyways.
  }

  // Don't limit width in CiviCRM since it uses background-color on some headings which then look odd.
  h3, h4, h5 { max-width:none; }
  #page {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

// Provide some space at sides on angular pages at least.
body.page-civicrm-a #content {
  max-width: 1200px;
  margin-left:auto;
  margin-right:auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
#printer-friendly {
  display:none; // It's never really printer friendly...
}
@media print {
  #civicrm-footer,
  #access,
  #civicrm-menu
  { display:none; }
  body.page-civicrm {
    padding-top:0;
  }
}

// My Quickform patch for radios.
.crm-profile .radio-wrapper { display:block; }

// Override Mosaico.
#bootstrap-theme .crm-mosaico-template-item {
  display:flex;
  width:100%;
}
#bootstrap-theme .crm-mosaico-template-item .crm-mosaico-template-title-wrapper {
  height:unset;
  flex: 1 0 160px;
}
#bootstrap-theme .crm-mosaico-template-item .crm-mosaico-template-image-wrapper {
  flex: 0 0 160px;
}

// Calm bootstrap a bit.
body#bootstrap-theme, #bootstrap-theme {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: inherit;
}
#bootstrap-theme {
  @each $h in h1 h2 h3 h4 h5 h6 {
    #{$h} {
      small, .small {
        color:inherit;
      }
    }
  }
}
