@import 'lib';

body.page-civicrm {
  h1.page-header {
    display:none; // CiviCRM seems to output this anyways.
  }

  // Don't limit width in CiviCRM since it uses background-color on some headings which then look odd.
  h3, h4, h5 { max-width:none; }
  #page {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

// Provide some space at sides on angular pages at least.
body.page-civicrm-a #content {
  max-width: 1200px;
  margin-left:auto;
  margin-right:auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
#printer-friendly {
  display:none; // It's never really printer friendly...
}
@media print {
  #civicrm-footer,
  #access,
  #civicrm-menu
  { display:none; }
  body.page-civicrm {
    padding-top:0;
  }
}

// My Quickform patch for radios.
.crm-profile .radio-wrapper { display:block; }

// Override Mosaico.
#bootstrap-theme .crm-mosaico-template-item {
  display:flex;
  width:100%;
}
#bootstrap-theme .crm-mosaico-template-item .crm-mosaico-template-title-wrapper {
  height:unset;
  flex: 1 0 160px;
}
#bootstrap-theme .crm-mosaico-template-item .crm-mosaico-template-image-wrapper {
  flex: 0 0 160px;
}
