#block-block-1 img {
  height:auto;
  width:3rem;
  display:block;
  margin:0 auto;
}

h1, h2, h3, h4, h5 {
  font-family:Oswald, sans-serif;
  font-weight:300;
  text-transform: uppercase;
  color: $colourFeastDarkBlue;
}

body {
  font-family: "Helvetica Nue", Helvetica, Arial;
}

// Links {{{
a:link,
a:visited {
  color: $colourFeastDarkBlue;
}
a:hover, a:active {
  color: $colourFeastBrightBlue;
}
// }}}
.menu-block-1 {
  li>a {
    &.active-trail {
    }
    &.active {
      color: $colourFeastDarkBlue;
    }
  }
}
.docnav-wrapper {
  li {
    &.selected-route>a{
      background-color: $colourFeastDarkBlue;
      color:white;
    }
    &.selected>a{
      background-color: $colourFeastBrightBlue;
      color:white;
    }
  }
}
// Disable admin toolbar on civicrm pages.
body.page-civicrm #admin-menu {
  display:none;
}
