$colourArtfulBrightBlue :#2c98ed;
$colourArtfulDarkBlue :#02477d;
$colourArtfulBrightBlueHigh :lighten($colourArtfulBrightBlue, 20%);
$colourArtfulAmber :#ffcc00;
$colourHighlight : lighten($colourArtfulAmber, 30%);
$colourText : #222;
$colourWidgetBackground : #f8f8f8;
$colourWidgetBorder : #e8e8e8;
$colourWidgetSelectedBackground : $colourArtfulBrightBlue;
$colourWidgetCouldSelectBackground : lighten($colourWidgetSelectedBackground, 30%);
$colourBackground : #f3f2ed;
$colourDarkGrey : #333;
$colourMidGrey : #555;
$colourBackgroundShade : darken(#f3f2ed, 10%);
$colourGreenStrongBg: #97d462;
$colourGreenHint: #e9f9db;
$colourAmberStrongBg: #eaa75c;
$colourAmberHint: #ffedcc;
$colourFeastDarkBlue: #0a508d;
$colourFeastBrightBlue: #0eb6cb;
