@import 'lib';
// openDemocracy styles.
$light_blue: #F1F6FB;
$light_blue_darkened: darken(#F1F6FB, 10%);
$dark_blue: #0061bf;
$dark_blue_lightened: #408BC5; // From new site.
$grey_4: #444;
$grey_6: #888;

// oD Fonts {{{
@font-face {
  font-family: 'Libre Baskerville';
  src: local("Libre Baskerville"), url("https://cdn-prod.opendemocracy.net/assets/fonts/libre-baskerville/LibreBaskerville-Regular.ttf");
  font-weight:400;
  font-display:swap;
}
@font-face{
  font-family:'Libre Baskerville';
  src:local("Libre Baskerville"), url("https://cdn-prod.opendemocracy.net/assets/fonts/libre-baskerville/LibreBaskerville-Bold.ttf");
  font-weight:700;
  font-display:swap;
}
//}}}

// General styles {{{
body {
  background:white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color:black;

  // Public pages.
  .node-type-donation-page {
    background-color: white;
  }

}

h2 {
  font-size: 2.13333rem;
  color: #000000;
  font-weight: 700;
  text-transform: none;
  text-underline-position: auto;
  letter-spacing: 0;
  font-family: 'Libre Baskerville';
  line-height:1.47;
}

a:link, a:visited {
  color: $dark_blue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
// }}}
// General Pages {{{
#header {
  margin-bottom: 2rem;
  padding-top: 1rem !important;
}
#header__logo {
  width: 200px;
  height: auto;
  display:block;
  margin:0 auto;
}
#header__title {
  h1 {
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
    font-size: (24rem/16);
    font-weight: normal;
  }
}
// CiviCRM staff view {{{
// Civi menu
body.crm-menubar-visible.crm-menubar-over-cms-menu,
body.admin-menu:not(.crm-menubar-visible) {
 #header {
	//	padding-top: 1rem !important;
	}
}

body.page-civicrm-contact-view {
	#header__logo { padding-left: 1rem; }
}
//}}}

@media screen and (min-width: 400px) {
  #page {
    padding: 0 1rem;
  }
  #header {
    display:grid;
    align-items: flex-end;
    grid-template-columns: 14rem 1fr;
    grid-column-gap: 1rem;
    // margin-top:1rem;
  }
  #header__logo {
    margin:0;
  }
  #header__title {
  }
  .region-content {
    // margin-top: 60px;
  }
}

// }}}
// CiviCRM pages (public, private) {{{
body.page-civicrm {
  // Set white background, important necessary because of shoreditch
  background:white !important;
}
// }}}

// CiviCRM public facing pages, incl. unsubscribe and profile {{{

/*
html body:not(.toolbar).page-civicrm-profile {
  margin-top: 8px !important;
  background:white !important;
}
*/
// Override Shoreditch's top margin
html {
  body.page-civicrm-mailing-unsubscribe,
  body.page-civicrm-update-giving,
  body.page-civicrm-profile {
    margin-top:0 !important;
  }
}
body.page-civicrm-mailing-unsubscribe,
body.page-civicrm-update-giving,
body.page-civicrm-profile {

  // Hide footer.
  #civicrm-footer,
  .crm-public-footer { display: none; }

  // Set white background, page margins.
  #page {
    display: block;
    margin: 0 auto;
    max-width: 1230px;
    padding: 0 0.5rem;
    background:white !important;
  }

  // Align to center of page, limit width.
  #crm-main-content-wrapper {
    max-width: 50rem;
    margin: 0 auto;
    min-height: calc(100vh - 5rem);
    padding: 0 1rem;
  }
  .crm-section .label {
    display: block;
    float:none;
    width: auto;
    text-align: left;
  }
  .crm-section .content {
    margin-left:0;
    input[type="text"] {
      width: 100%;
    }
  }
}
@media screen and (min-width: 400px) {
  body.page-civicrm-mailing-unsubscribe,
  body.page-civicrm-update-giving,
  body.page-civicrm-profile {
    #crm-main-content-wrapper {
      margin: 0 0 0 15rem;
      padding:0;
    }
  }
}

// }}}

// Unsubscribe pages {{{
body.page-civicrm-mailing-unsubscribe {
  .od-unsubscribe-successful {
    #Unsubscribe { display: none; }
  }
}
#Unsubscribe {
  max-width: 46.3rem;
  .messages.status {
    background: none;
    border:medium none;
    padding:0;
    color:black;
  }

  table.selector {display:none;}
  h3 {
    background: none;
    font-family: 'Libre Baskerville';
    line-height: 1.47;
  }
  table.form-layout {
    td, th { border: medium none; padding:0;}
    td.content {
      width: 70%;
      input { width: 100%; }
    }
  }
  .crm-submit-buttons {
    margin-top:2rem;
    span {
      padding: 0;
      margin-right:2rem;
      box-shadow: none;
    }
    i { display:none; }
    input {
      padding: 0.5rem 2rem;
      margin-right: 2rem;
      width:100%;
      box-shadow: none;
      color:white;
      text-transform: uppercase;
      background-color: #0061bf;
      border: solid 1px #0061bf;
    }
  }
  .crm-button-type-cancel input {
    border: solid 1px #888;
    background: white;
    color: #888;
  }

}
// }}}
// Donation Pages {{{
.node-type-donation-page {
  #page {
    display: block;
    margin: 0 auto;
    max-width: 1230px; // copied from other site.
    padding: 0 0.5rem;
  }
}
// }}}
// Profile pages {{{
.CRM_Profile_Form_Edit {

  // These buttons do not align properly without this for some reason.
  .crm-submit-buttons {
    display:flex;
    justify-items: flex-start;
    padding-left:0;
    padding-right:0;

    input.crm-form-submit:not(.cancel) {
      padding: 8px 2rem;
    }

    a.button {
      line-height:2;
      i { margin-right: 0.5rem; }
    }
  }

}
// }}}

