// text etc.
@import 'lib';
// Default to border-box sizing.
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// Base
body {
  font-family: Lato;
  font-size: 1rem;
  color: $colourText;
  background-color: $colourBackground;
}

h1, h2 {
  font-weight: light;
  margin:2rem 0 1rem;
  line-height:1.3;
  color:black;
}
h1 {
  font-size:2.4rem;
}
h2 {
  font-size:2rem;
}

h3, h4, h5 { max-width:65em; }

p {
  margin:0 0 1rem;
  line-height:1.4;
  max-width:55em;
}
// Set max width since we often get <li> without <p> inside...
li {
  max-width:55em;
}

ul {
  margin:1rem 0;
}

table {
  border-collapse: collapse;
}
tbody {
  border:none;
}
td {
  padding: 0.5rem 1rem;
  border:solid 1px #d8d8d8;
}
th {
  padding: 0.5rem 1rem;
  background-color: white;
  border:solid 1px #d8d8d8;
}


div.box, aside.box {
  margin:1rem 0;
  padding:1rem;
  border:solid 1px rgba(0,0,0,0.1);
  max-width:55em;
  h1 {
    margin:-0.5rem -0.5rem 0.5rem;
    padding:0.5rem;
    font-size:1rem;
    color:white;
  }
}
div.box--info, aside.box--info {
  background-color: $colourGreenHint;
  border-color: $colourGreen2;
  h1 { background-color: $colourGreenStrongBg; }
}
div.box--warning, aside.box--warning {
  background-color: $colourAmberHint;
  border-color:$colourAmberStrongBg;
  h1 { background-color: $colourAmberStrongBg;}
}

div.image-container {
  background-color: rgba(0,0,0,0.1);
  padding:1rem;
  display: flex;
}
.image-caption {
  flex:1 1 auto;
  padding-right:1rem;
}
.image-wrapper {
  flex:0 0 auto;
  max-width: 80%;
  img {
    width:100%;
    height: auto;
    display: block;
  }
}

