@import 'lib';
@import 'content';

// Basic layout.
body {
  padding:0;
  margin:0;

  &.front {
    #page {
      max-width: 1000px;
      margin: 0 auto;
    }
  }
  &.page-user.not-logged-in,
  &.page-user-login {
    #page {
      max-width: 30rem;
      margin: 0 auto;
    }
    #page-title { text-align: center; }
    .tabs.primary {
      border-bottom: none;
      margin: 1rem 0;
      text-align:center;
      li a {
        border: none;
        background: none;
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
    #user-login {
      padding: 4rem;
      border-radius: 8px;
      background: white;
    }
  }

  // Simple layout for node pages.
  &.page-node #content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1vw;
  }
}


// Forms {{{
input[type="text"], input[type="password"], textarea {
  background: white;
  border:solid 1px $colourMidGrey;
  color:$colourText;
  border-radius: 3px;
  width:100%;
  padding:0.5rem;
}
label {
  font-weight: normal;
}
// }}}
// Sidebar layout. {{{
$sidebar_width  : 20rem;
$sidebar_gutter : 2rem;

#sidebar-toggle { display:none; }
aside.sidebar {
  // Allow for menu bar at top.
  padding:3rem 1rem 0;

  // Colour the sidebar.
  background-color: $colourDarkGrey;
  color: $colourWhitishText;
  h1, h2, h3, h4 {
    color: $colourWhitishText;
  }
  a:link, a:visited {
    color: $colourWhitishText;
  }
  input[type="text"], input[type="password"], textarea {
    background: $colourMidGrey;
    border-color:$colourDarkGrey;
    color:white;
  }
}
//}}}
// Slidey sidebar for non mobiles.
@media screen and (min-width: 850px) {
  #main.has-sidebar #content {
    margin-left:($sidebar_width + $sidebar_gutter);
    transition: margin-left 0.2s;
  }
  #main.sidebar-closed {

    #sidebar-toggle {
      transform:translate(1.5rem, 0rem) rotate(-90deg);
      width:9rem;
    }

    #content {
      margin-left:$sidebar_gutter;
    }
    aside.sidebar {
      transform:translateX(-$sidebar_width);
    }
  }
  #sidebar-toggle {
    display:block;
    position:fixed;
    bottom:0;
    left:0;
    width: $sidebar_width;
    height:1.5rem;
    line-height:1;
    background-color: $colourDarkGrey;
    padding:0 0.5rem;
    color: rgba(255, 255, 255, 0.6);
    transition: all 0.2s;
    transform-origin: bottom left;
    text-align: center;
    cursor: pointer;
    &:hover {
      color: white;
    }
  }

  aside.sidebar {
    position:fixed;
    top:0;
    left:0;
    width: $sidebar_width;
    transition: transform 0.2s;
    bottom:0;
    overflow-y: auto;
  }
}


// Images {{{
.field-name-body {
  img {
    max-width: 100%;
    height:auto;
  }
}
// }}}

// Main menu block. {{{
.menu-block-1 {
  ul.menu {
    padding:0;
    // escape the padding of the sidebar.
    margin:0 -1rem;

    // We need to overcome specificity of drupal system's ul.menu li
    li {
      margin:0;
      list-style:none;
    }
  }
  li, li.leaf {
    padding:0;
  }
  li>a {
    display:block;
    padding:0.5rem 1rem;
    text-decoration: none;
    color: white;
    &.active-trail {
      background-color:$colourMidGrey;
      font-weight: bold;
      color: $colourText;
    }
    &.active {
      background-color: $colourBackground;
      color: $colourText;
    }
  }
} // }}}
// Hide the Drupal tabs if we have the adminimal menu. {{{
body.adminimal-menu #content ul.tabs.primary {
  display:none;
} // }}}

// DocNav {{{
.docnav__fakeanchor {
  position:absolute;
  margin-top:-3rem;
}
.docnav-wrapper {
  ul.docnav {
    margin:0;
    padding:0;
    list-style:none;
  }
  li {
    margin:0;
    padding:0;
    &.selected-route>a{
      font-weight: bold;
    }
    &.selected>a{
      font-weight: bold;
      // transform:translateX(1rem);
    }
  }
  // By default, sub-lists are not shown.
  li ul {
    display:none;
  }
  // Show children of selected.
  li.selected-route>ul,
  li.selected>ul {
    display:block;
  }

  a {
    display:block;
    padding:0.5rem 1rem;
    transition: all 0.3s;
  }
  // Colours.
  li a {
    text-decoration: none;
  }
  li.depth-0 a {
    background: $colourBackgroundShade;
    color:$colourText;
  }
  li.depth-1 a {
    background: #555;
    color:white;
  }
  li.depth-2 a {
    background: #f8f8f8;
    color: #222;
  }
  @each $i in 0 1 2 3 4 5 6 {
    li.depth-#{$i} a {
      padding-left: (1rem + 1rem * $i);
    }
  }
}
@keyframes attn {
  0% { transform:none; }
  20% { transform:translate(0, -3px); }
  50% { transform:translate(0, -5px); }
  80% { transform:translate(0, -3px); }
  100% { transform:none; }
}
.attention {
  animation: attn 0.2s forwards linear;
}
// }}}

@media print {
  .no-print,
  #sidebar-toggle,
  body.admin-menu.adminimal-menu::before
  { display:none; }

  .has-sidebar #content,
  .has-sidebar.sidebar-open   #content {
    margin-left:0;
  }
  aside.sidebar {
    display:none;
  }
}
